<h1>Listing join_groups</h1>

<table>
  <tr>
    <th>Group</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @join_groups.each do |join_group| %>
  <tr>
    <td><%= join_group.group.title %></td>
    <td><%= join_group.user.name %></td>
    <td><%= link_to 'Show', join_group %></td>
    <td><%= link_to 'Edit', edit_join_group_path(join_group) %></td>
    <td><%= link_to 'Destroy', join_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Join group', new_join_group_path %>
