<h1>Listing join_meets</h1>

<table>
  <tr>
    <th>Meet</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @join_meets.each do |join_meet| %>
  <tr>
    <td><%= join_meet.meet_id %></td>
    <td><%= join_meet.user_id %></td>
    <td><%= link_to 'Show', join_meet %></td>
    <td><%= link_to 'Edit', edit_join_meet_path(join_meet) %></td>
    <td><%= link_to 'Destroy', join_meet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Join meet', new_join_meet_path %>
